:root {
  --gap: 8px;
  --primary-color: rgb(32, 140, 255);
  --primary-hover-color: rgb(0, 122, 253);
  --secondary-color: rgb(240, 240, 240);
  --secondary-hover-color: rgb(184, 184, 184);
  --transition: all 50ms;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Poppins', sans-serif;
}

.no-select {
  user-select: none;
}

.popup {
  width: 220px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  background-color: rgb(32, 33, 36);
}

.title {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color: var(--secondary-color);
  font-size: large;
}

.content-wrapper {
  display: grid;
  grid-template-columns: calc(50% - var(--gap)/2) calc(50% - var(--gap)/2);
  column-gap: var(--gap);
  row-gap: var(--gap);
}


.slider-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-2px);
}

.slider {
  width: 100%;
  height: 100%;
  accent-color: var(--primary-color);
}

.slider::-webkit-slider-runnable-track {}

.slider::-webkit-slider-thumb {}

.button {
  width: 100%;
  padding: 3px;
  font-family: 'Poppins', sans-serif;
  border-radius: 3px;
  border-width: 0 0 0 0;
  background-color: var(--secondary-color);
  transition: var(--transition);
}

.button:hover {
  background-color: var(--secondary-hover-color);
}

.blur-button,
.circle-size-button,
.selected-blur-mode-button {
  background-color: var(--primary-color);
}

.blur-button:hover,
.circle-size-button:hover,
.selected-blur-mode-button:hover {
  background-color: var(--primary-hover-color);
}