:root {
  --gap: 8px;
  --primary-color: rgb(32, 140, 255);
  --background-color: #fff;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Poppins', sans-serif;
}

.no-select {
  user-select: none;
}

.popup {
  width: 220px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  background-color: rgb(32, 33, 36);
}

.title {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color: var(--background-color);
  font-size: large;
}

.content-wrapper {
  display: grid;
  grid-template-columns: calc(50% - var(--gap)/2) calc(50% - var(--gap)/2);
  column-gap: var(--gap);
  row-gap: var(--gap);
}

.selected-blur-mode-button {
  width: 100%;
  padding: 3px;
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  border-radius: 3px;
  border-width: 0 0 0 0;
}

.circle-size-button {
  width: 100%;
  padding: 3px;
  font-family: 'Poppins', sans-serif;
  border-radius: 3px;
  border-width: 0 0 0 0;
}

.circle-size-slider-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-2px);
}

.circle-size-slider {
  width: 100%;
  height: 100%;
  accent-color: var(--primary-color);
}

.circle-size-slider::-webkit-slider-runnable-track {}

.circle-size-slider::-webkit-slider-thumb {}

.blur-mode-button {
  width: 100%;
  padding: 3px;
  font-family: 'Poppins', sans-serif;
  border-radius: 3px;
  border-width: 0 0 0 0;
}