body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Poppins', sans-serif;
}

.popup {
  width: 130px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: rgb(32, 33, 36);
}

.blur-mode-button {
  width: 100%;
  padding: 3px;
  font-family: 'Poppins', sans-serif;
  border-radius: 3px;
  border-width: 0 0 0 0;
}

.selected-blur-mode-button {
  width: 100%;
  padding: 3px;
  background-color: blueviolet;
  font-family: 'Poppins', sans-serif;
  border-radius: 3px;
  border-width: 0 0 0 0;
}

.no-select {
  user-select: none;
}