:root {
  --marginX: 17vw;
  --marginY: 21vh;
  --half-size: calc(var(--size)/2);
  --move-time: 5000ms;
  --blur: 5px;
  --border-width: 6px;
  /* --animation-timing-function: ease;
  --animation-iteration-count: infinite;

  --clip-path-circle-radius: var(--half-size);
  --clip-path-left: var(--marginX);
  --clip-path-right: calc(100vw - var(--marginX));
  --clip-path-top: var(--marginY);
  --clip-path-bottom: calc(100vh - var(--marginY));

  --border-left-translate: calc(var(--marginX) - var(--half-size) - var(--border-width));
  --border-right-translate: calc(100vw - var(--marginX) - var(--half-size) - var(--border-width));
  --border-top-translate: calc(var(--marginY) - var(--half-size) - var(--border-width));
  --border-bottom-translate: calc(100vh - var(--marginY) - var(--half-size) - var(--border-width)); */
}

body {
  overflow: hidden;
}

.no-blur {
  filter: none;
}

.no-select {
  user-select: none;
}

.no-click {
  pointer-events: none;
}

.random-background-image-blur {
  filter: blur(var(--blur));
}

.random-background-image-normal {
  clip-path: circle(var(--radius) at var(--x, 50%) var(--y, 50%));
}

.random-background-image-normal-border {
  width: var(--size);
  height: var(--size);
  transform: translate(calc(var(--x) - 50%), calc(var(--y) - 50%));
  top: 0;
  left: 0;
  position: absolute;
  border-style: groove;
  border-color: rgb(0, 0, 0, 0.9);
  border-width: var(--border-width);
  border-radius: 50%;
  z-index: -1;
}

.mouse-listener-area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
}

/* @keyframes move-animation {
  0% {
    clip-path: circle(var(--clip-path-circle-radius) at var(--clip-path-left) var(--clip-path-top));
  }

  25% {
    clip-path: circle(var(--clip-path-circle-radius) at var(--clip-path-right) var(--clip-path-top));
  }

  50% {
    clip-path: circle(var(--clip-path-circle-radius) at var(--clip-path-right) var(--clip-path-bottom));
  }

  75% {
    clip-path: circle(var(--clip-path-circle-radius) at var(--clip-path-left) var(--clip-path-bottom));
  }

  100% {
    clip-path: circle(var(--clip-path-circle-radius) at var(--clip-path-left) var(--clip-path-top));
  }
}

@keyframes move-border-animation {
  0% {
    width: var(--size);
    height: var(--size);
    top: 0;
    left: 0;
    transform: translate(var(--border-left-translate), var(--border-top-translate));
  }

  25% {
    transform: translate(var(--border-right-translate), var(--border-top-translate));
  }

  50% {
    transform: translate(var(--border-right-translate), var(--border-bottom-translate));
  }

  75% {
    transform: translate(var(--border-left-translate), var(--border-bottom-translate));
  }

  100% {
    width: var(--size);
    height: var(--size);
    top: 0;
    left: 0;
    transform: translate(var(--border-left-translate), var(--border-top-translate));
  }
} */
